.section-about{
    margin: 3% 0;
    &__body{
        display: flex;
        
        justify-content: space-between;
    }
    &__text-block{
        text-align: center;
        padding-top: 9%;
       flex:1 2 33%;
       
    //    background-color: brown;
    }
   


    &__img{
        // background-color: blueviolet;
        flex:1 1 33%;
        display: block; 
        padding-right: 5%;
        min-height: 0;
        // background-color: cadetblue;
        img{
          width: 100%;
          height: 100%;
         object-fit: contain;
          display: block;
        }
        
    }
    @media (max-width:770px){
        &__body{
            flex-direction: column;
        }
        &__text-block{
            padding: 5% 0;
        }
       
    }
}


